@{
    ViewBag.Title = "Home Page";
}

<div class="header-photo">
    <img src="~/UploadedFiles/RoxyHeader.jpg" alt="PetPickr: Find your forever friend.">
    <div class="header-text-box">
        <h1>
            Find
            <br>
            your      
            <br>
            forever      
            <br>
            friend
        </h1>
    </div>
</div>    
<!--<div class="jumbotron">-->
    @*<h1>Find your forever friend</h1>*@
    <!--<p class="lead"></p>-->
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
<!--</div>-->

<div class="row">
    <div class="col-md-5">
        <h2>View available cats</h2>
        <p>
            Looking for an affectionate feline to curl up on your legs after a hard day at work? How about a self-sufficient pet that really makes you work for that love? Whatever your style, we can help you find the right cat for your home.  
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "Cat")'>Find Cats &raquo;</a></p>
    </div>
    <div class="col-md-2">
        @*<h2>Log in/Register</h2>
        <p>If you have a PetPickr account, click below to log in. If not, you can register as either a user or a shelter.</p>
        <p><a class="btn btn-default" href='@Url.Action("Login", "Account")'>Log In/Register &raquo;</a></p>*@
    </div>
    <div class="col-md-5">
        <h2>View available dogs</h2>
        <p>There's nothing like seeing that smile every time you come home. No matter what breed you're looking for, we have a pup for you. Find the best pet for your family with our list of available dogs.</p>

        <p><a class="btn btn-default" href='@Url.Action("Index", "Dog")'>Find Dogs &raquo;</a></p>
    </div>
</div>